// Color Palette

$black     : #151515;
$darkgray  : #a4a4a4;
$gray      : #cbcbcb;
$lightgray : #e6e6e6;
$blue      : #4f7ec5;
$green     : #469846;
$white     : #ffffff;

// Font sizes

$normal : 16px;
$huge   : 2rem;
$big    : 1.2rem;
$small  : 0.7rem;
$tiny   : 0.6rem;

// Font Families

$title     : 'Arial',  serif;
$important : 'Futura', sans-serif;
$main      : sans-serif;