body {
  height           : 100%;
  width            : 100%;
  background-image : linear-gradient(137deg, $lightgray, rgba($green, 0.4));
  font-family      : $main;
  font-size        : $normal;
}

section {
  box-sizing : border-box;
}

.main__wrapper {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  margin          : 20px auto;
  border          : 1px solid $gray;
  width           : 50vw;
  background      : $white;
}